<div class="container-fluid">
  <div class="row">
    <div class="col-md-3" style="background-color: cadetblue; height: 90vh">
      <div style="background-color: black">
        <mat-card class="m-3 p-3">
          <form [formGroup]="todoForm">
            <mat-form-field appearance="outline">
              <mat-label>Write Task</mat-label>
              <input
                matInput
                placeholder="Task Title..."
                formControlName="item"
              />
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-hint>Task Input</mat-hint>
            </mat-form-field>
            @if (!isEditEnabled) {
            <button
              mat-raised-button
              color="primary"
              (click)="addTask()"
              [disabled]="todoForm.invalid"
            >
              Add
            </button>
            } @if (isEditEnabled) {
            <button
              mat-raised-button
              color="primary"
              (click)="updateTask()"
              [disabled]="todoForm.invalid"
            >
              Update
            </button>
            }
          </form>
        </mat-card>
      </div>
    </div>

    <div class="col-md-9 mt-3">
      <div class="cdkDropList">
        <div class="row">
          <div class="col-md-4">
            <div class="example-container">
              <h2 class="head-title">
                To Do @if (tasks.length>0) {
                <span>- {{ tasks.length }} -</span>
                }
              </h2>

              <div
                cdkDropList
                #todoList1="cdkDropList"
                [cdkDropListData]="tasks"
                [cdkDropListConnectedTo]="[todoList2, todoList3]"
                class="example-list"
                (cdkDropListDropped)="drop($event)"
              >
                @for (item of tasks; track $index) {
                <div class="example-box" cdkDrag>
                  {{ item.title }}
                  <div class="box">
                    <button
                      mat-icon-button
                      color="warn"
                      (click)="deleteTask($index)"
                    >
                      <mat-icon>delete</mat-icon>
                    </button>
                    <button
                      mat-icon-button
                      color="primary"
                      (click)="onEditTask(item, $index)"
                    >
                      <mat-icon>edit</mat-icon>
                    </button>
                  </div>
                </div>
                }
              </div>
            </div>

            <div class="example-container">
              <h2 class="head-title">
                In Progress @if (inProgress.length>0) {
                <span>- {{ inProgress.length }} -</span>
                }
              </h2>

              <div
                cdkDropList
                #todoList2="cdkDropList"
                [cdkDropListData]="inProgress"
                [cdkDropListConnectedTo]="[todoList3]"
                class="example-list"
                (cdkDropListDropped)="drop($event)"
              >
                @for (item of inProgress; track $index) {
                <div class="example-box" cdkDrag>
                  {{ item.title }}
                  <div class="box">
                    <button
                      mat-icon-button
                      color="warn"
                      (click)="deleteInprogressTask($index)"
                    >
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                </div>
                }
              </div>
            </div>

            <div class="example-container">
              <h2 class="head-title">
                Done @if (done.length>0) {
                <span>- {{ done.length }} -</span>
                }
              </h2>

              <div
                cdkDropList
                #todoList3="cdkDropList"
                [cdkDropListData]="done"
                [cdkDropListConnectedTo]="[todoList1]"
                class="example-list"
                (cdkDropListDropped)="drop($event)"
              >
                @for (item of done; track $index) {
                <div class="example-box" cdkDrag>
                  {{ item.title }}

                  <div class="box">
                    <button
                      mat-icon-button
                      color="warn"
                      (click)="deleteDoneTask($index)"
                    >
                      <mat-icon>delete</mat-icon>
                    </button>
                    <button mat-icon-button color="accent">
                      <mat-icon style="-webkit-text-fill-color: green"
                        >check_circle</mat-icon
                      >
                    </button>
                  </div>
                </div>
                }
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
